@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@model IEnumerable<Learner>
<div class="ms-2 mx-2">
    <h1>Learner List</h1>
    @await Component.InvokeAsync("Major")
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input id="keyword" class="form-control" name="keyword"
                type="text" placeholder="Search leaner"/>
            <button id="btnSearch" class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <div id="content">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Tên</th>
                    <th>Họ</th>
                    <th>Ngành</th>
                    <th>Ngày nhập học</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in Model)
                {
                    <tr>
                        <td>@s.LearnerID</td>
                        <td>@s.FirstMidName</td>
                        <td>@s.LastName</td>
                        <td>@s.Major.MajorName</td>
                        <td>@s.EnrollmentDate</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@s.LearnerID">Edit</a>|
                            <a asp-action="Delete" asp-route-id="@s.LearnerID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-action="Create" class="btn btn-primary">Create New Student</a>
        @if (ViewBag.pageNumber > 1)
        {
            <nav aria-label="...">
                <ul class="pagination">
                    @for (int i = 1; i <= ViewBag.pageNumber; i++)
                    {
                        <li class="page-item" page="@i"
                        @(ViewBag.mid != null ? "mid="+ViewBag.mid: "")
                        @(ViewBag.keyword != null ? "keyword="+ViewBag.keyword : "")>
                            <a class="page-link">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        }
    </div>
</div>
@section Scripts{
    <script>
        $('body').on('click', 'li.page-item', function () {
            var page = $(this).attr("page");
            var mid = $(this).attr("mid");
            var keyword = $(this).attr("keyword");
            var data = { mid: mid, keyword: keyword, pageIndex: page };
            $.ajax({
                url:"Learner/LearnerFilter",
                data:data,
                success: function (response) {
                    $("div#content").html(response);
                }
            })
        })
        $(".filter").click(function (e) {
            var id = $(this).attr("id");
            $.ajax({
                url: "Learner/LearnerFilter",
                data: { mid: id },
                success: function (response) {
                    $("div#content").html(response);
                }
            });
        });

        $("button#btnSearch").click(function (e) {
            var keyword = $("#keyword").val();
            var data={ keyword: keyword };
            $.ajax({
                url: "Learner/LearnerFilter",
                data: data,
                success: function (response) {
                    $("div#content").html(response);
                }
            });
        });
    </script>
}